<nav>
    <div class="site-title">
        <a href="/"><h1>My To-do List</h1></a>
    </div>
    <ul>
        <li><a href="/">To-dos</a></li>
        <li><a href="/to-dos/create">Create New</a></li>
    </ul>
</nav>